.loaderContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #050505; /* Deep black/dark background matching theme */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}
